* {
    /*Box sizing allows padding and border properties
    In the width and height of a div
    By default, the actual width and height is calculated as
    width + padding + border, thus using border-box would take
    padding and border out of the actual width and height*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #A8D897;

}

/* How do I center this div */

.header h1 {
    padding-bottom: 100px;
    text-align: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: black;
    -moz-text-fill-color: black;
}


.body {
    text-align: center;
    z-index: 1;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button #generate {
    font-size: 1rem;
    background-image: linear-gradient(to top, #8d8d8d 0%, #d3d3d3 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #141414;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.togglerare{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Toggle switch to disable/enable rare */
 /* The switch - the box around the slider */

 /* Courtesy of https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 


.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

#desc {
    text-align: center;
}

/* Create Hover */

.chapterselector__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-align: center;
  margin: 0 30%;
}

.chapterselector__item {
  font-size: 30px;
  height: 80px;
  background-color: #d3d3d3;
  padding: 25px 0;
}

.chapterdisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}